
    table, tr, td {
            border: 2;
            border-color: black;
            border-style: inset;
            table-layout: auto;
            height: auto;
            width: auto;
        }
    .content {
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 60px;
        }
